body{
	background-color: #232323
}

.title{
	padding-left: 40px;
	padding-right: 30px;
}
.body{
	font-size: 20px;
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
	background-color: #232323;
	padding: 2em;
}

.left{
	float: left;
}
.button{
	background-color: #f93c39;
	border; none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	font-size: 16px;
	margin: 4px 2px;
    cursor: pointer;
	
}

#main{
	margin: 40px;
	padding-bottom: 600px;
	background-color: #fa625f;
}

#header{
	font-family: 'Bungee Shade', cursive;
	font-size: 25px;
	text-align: left;
	color: #232323;
}

#bod{
	margin-left: 400px;
	margin-right: 40px;
	padding: 0px 40px 20px 40px;

}
#

